/* .foot {
  position: relative;
}

.foo-1 {
  background-color: #154c79;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  vertical-align: middle;
  gap: 50px;
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;




} */