* {
    font-family: 'Poppins', sans-serif;
    /* margin: 0; */
    /* padding: 0; */
}


.navbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    height: 80px;
    position: relative;
    z-index: 1;
   background-color: #5568b3;
}



a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    height: 18px;
    padding: 12px;
    width: 120px;
    color:#000;
}

.nav-hover:hover {
    background-color: #0840f7;
    border-radius: 30px;
    color: #fff;


}

.logo-conatiner{
    height: 100px;
    width: 80px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    margin-right: 80px;
}

.ul-div-1 {
    display: flex;
}

/* commented causing isue in floating bar  */
ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    float: left;
    margin: auto;
    /*  */
    flex-direction: column;


}

/* Dropdowns code */


.dp-1 {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 12em;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .2s linear;
    margin: 45px;
    padding: 0px;
}




.ul-1 .p-1-dp:hover {
    color: #cec1c1;
}

.ul-1 p:hover {
    color: #f70808;
}

.dp-2 {
    background-color: #fff;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: grid;
    position: absolute;
    left: 0;
    /* transform: translateX(-50%); */
    z-index: 99;
    grid-template-columns: repeat(3, 1fr);

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;
}


.dp-3 {
    /* float: left; */
    padding: 15px;
    margin: auto;


}

.p-1-dp {
    color: black;
    font-weight: 700;
}

.text-dp {
    font-size: small;
    margin-top: 10px;
    color: rgb(129, 44, 27);
}

ul li:hover .dp-1 {
    visibility: visible;
    opacity: 1;
}


/* Button */

hr {
    color: #d80cfc;

}

.p-1 {
    margin: auto;
    color: red;
    padding: 20px;
}